body {
    color: blue;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
}

table {
    display: block;
}

.co {
  
    border: solid 1px yellow;
    background-color: range;
    border-radius: 10px;
    padding: 10px;
    margin: 20px auto;
    //background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   
}

.search-input {
    border: 2px solid #4CAF50;
    padding: 4px 12px;
    border-radius: 5px;
    width: 250px;
    outline: none;
    font-size: 18px;
    transition: all 0.3s ease;
}

.search-card {
    margin: 10px 0px 15px 10px;
    display: flex;
    align-items: center;
}



.add-btn {
    //background: linear-gradient(45deg, #6a11cb, #2575fc);
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    color: white;
    font-weight: bold;
    font-size: 14px;
    margin-left: 50px;
    color: black;
    padding: 9px 10px;
    border-radius: 5px;
}



.heading-card {
    color: azure;
    font-weight: bold;
    border: solid lightblue;
    background-color: #9a9936;
    border-width: 0px;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


@media (max-width: 600px) {
    .serch-input {
        width: 100%;
    }

    button {
        width: 100%;
        margin: 5px 0;
    }
}

.serch-card {
    margin: 5px 5px;
}

.user {
    
}
.user input {
        outline: none;
        border-width: 0px;
        color: #198754;
        font-style: italic;
        font-size: 18px;
        /* text-align:center; */
        margin-bottom: 16px;
    }
.sites input {
    outline: none;
    border-width: 0px;
    color: #198754;
    font-style: italic;
    font-size: 18px;
    /* text-align:center; */
    margin-bottom: 16px;
}

.starting-page {
    margin: 50px 0px 8px 25px;
}

.action-button {
    border-width: 0px;
    /* width: 10px; */
    font-size: 12px;
    font-weight: 400;
    border-radius: 10px;
    padding: 8px 12px 8px 12px;
   
    text-align: center;
    margin-right: 5px;
}